$logotypo: 'Pacifico', cursive;
$Maintypo: 'Petrona', serif;



body{
    margin: 0px;
    padding: 0px;
}
.form_container form{
    display: flex;
    flex-direction: column;
}
.form_container input{
    padding: 20px;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid; 
    font-family: $Maintypo;
}
form{
    display: flex;
    flex-direction: column;
}

p{
    font-family: $Maintypo;
}
h1{
    font-family: $logotypo;
    text-align: center;
    font-size: 45px;
    color: white;
}
h2{
    font-family: $Maintypo;
}
.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.message{
    color: red;
    font-size: 20px;
    font-family: $Maintypo;
    text-align: center;
}
.form-container{
    background-color: rgb(255, 162, 219);
    padding: 50px;
    margin-right: 10%;
    width: 50%;
    height: 40%;
    border-radius: 30px;
}
.containt{
    width: 100%;
    height: 100%;
    background-image: url(../../img/chen-yi-wen--GzyUGKhjBY-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.middle{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    border: 0px;
}